    <section id="posts">
        <div class="post-content">
            <h1 class="text-danger">Postagens:</h1>
            <article class="py-2">
                <header>
                    <h2><a class="text-decoration-none text-dark" href="#">Título</a></h2>
                    <p>Conteúdo da postagem que to fazendo</p>
                </header>
            </article>
            <article class="py-2">
                <header>
                    <h2><a class="text-decoration-none text-dark" text-decoration-none text-dark href="#">Título</a></h2>
                    <p>Conteúdo da postagem que to fazendo</p>
                </header>
            </article>
        </div>
    </section>
